/* h1, p, a {
    background-color: orange;
    color: blue;
} */

/* * {
    background-color: orange;
    color: blue;
}

Applies to entire page */

body {
    background-color: #03244d;
    color: #dd550c;
}